.message-box-div {
    width: 100%;
    bottom: 0;
    position: fixed;
}
.message-box-div input {
    width: 100%;
    border: none;
    border-top: 1px solid #fc6203;
    border-bottom: 1px solid #fc6203;
    text-align: center;
}
.message-box-div input:focus {
    outline: none;
}

@media (min-width: 769px) {
    .message-box-div {
        display: none;
    }
}